<div>
  <h1>About the Application</h1>
  <span>
    <h2>Created By:</h2>
    <ul>
      <li>
        David Pope
      </li>
      <li>
        Nathan Craig
      </li>
      <li>
        Mason Allaman
      </li>
      <li>
        Manthan Kale
      </li>
    </ul>
    <h2>Technologies Used:</h2>
    <ul>
      <li><a href="https://angular.io/" target="_blank">Angular CLI Version 7</a></li>
      <li><a href="http://twitter4j.org/en/" target="_blank">Twitter4j</a></li>
      <li><a href="https://www.java.com/en/" target="_blank">Java</a></li>
    </ul>
  </span>
</div>
